scorm_build/adlcp_rootv1p2.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!-- filename = adlcp_rootv1p2.xsd -->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
            xmlns = "http://www.adlnet.org/xsd/adlcp_rootv1p2"
            targetNamespace = "http://www.adlnet.org/xsd/adlcp_rootv1p2"
            version = "1.2"
            elementFormDefault = "qualified">

   <xsd:annotation>
      <xsd:documentation>
         This XSD is a component of the SCORM 1.2 XML Schema Definition.
         ADL Content Packaging extension elements.
      </xsd:documentation>
   </xsd:annotation>

   <xsd:element name = "location" type = "xsd:string"/>

   <xsd:element name = "prerequisites">
      <xsd:complexType>
         <xsd:simpleContent>
            <xsd:extension base = "xsd:string">
               <xsd:attribute name = "type" use = "required">
                  <xsd:simpleType>
                     <xsd:restriction base = "xsd:string">
                        <xsd:enumeration value = "aicc_script"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:attribute>
            </xsd:extension>
         </xsd:simpleContent>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name = "maxtimeallowed" type = "xsd:string"/>

   <xsd:element name = "timelimitaction">
      <xsd:simpleType>
         <xsd:restriction base = "xsd:string">
            <xsd:enumeration value = "exit,message"/>
            <xsd:enumeration value = "exit,no message"/>
            <xsd:enumeration value = "continue,message"/>
            <xsd:enumeration value = "continue,no message"/>
         </xsd:restriction>
      </xsd:simpleType>
   </xsd:element>

   <xsd:element name = "datafromlms" type = "xsd:string"/>

   <xsd:element name = "masteryscore" type = "xsd:string"/>

</xsd:schema>
